@charset "utf-8";
/* CSS Document */

:root {
  --color-fondo: #4A0048;
  --color-footer: #FBEED7;
  --color-nav: #C7004C;
  --color-verde: #39FF14;
  --color-texto: #FBEED7;
  
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Inter', sans-serif;
    background-color: var(--color-fondo);
}

/* HEADER */
.barra-superior {
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: var(--color-nav);
    color: var(--color-footer);
    padding: 10px 40px;
    align-items: center;
}

.logo-texto {
    font-family: 'Jersey 25';
    font-size: 28px;
    font-weight: 900;
    text-decoration: none;
    color: var(--color-texto);
}

.nav a {
    margin-left: 20px;
    padding: 10px 15px;
    background-color: var(--color-texto);
    color: var(--color-fondo);
    border-radius: 15px;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
}

.banner {
    width: 100%;
    height: 380px;
    background-image: url("img/banner.jpg");
    background-size: cover;
    background-position: center;
    position: relative;
}

.logo-banner {
   width: 200px;
    height: 200px; 
    position: absolute;
    top: 50px;
    left: 120px;
    border-radius: 50%;
}

.texto-banner {
    width: 480px;
    padding: 20px;
    background-color: var(--color-footer);
    color: var(--color-fondo);
    border-radius: 25px;
    position: absolute;
    top: 160px;
    left: 280px;
    font-size: 15px;
    font-weight: 600;
}

/* MAIN */
.contenido {
    width: 100%;
    padding: 30px 0;
    display: flex;
    justify-content: space-evenly;
}

.info-box {
    width: 260px;
    background-color: var(--color-footer);
    color: var(--color-fondo);
    padding: 20px;
    border-radius: 25px;
    text-align: left;
    font-size: 14px;
}

.info-box img {
    width: 100%;
    border-radius: 10px;
    margin-top: 10px;
}

/* TRABAJOS */
.trabajos {
    background-color: var(--color-footer);
    padding: 20px;
    width: 600px;
    border-radius: 25px;
    text-align: center;
    color: var(--color-fondo);
}

.galeria {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 12px;
    margin-top: 15px;
}

.galeria img {
    width: 170px;
    height: 240px;
    object-fit: cover;
    border-radius: 10px;
}

/* ASIDE */
.aside {
    width: 100%;
    text-align: center;
    margin-top: 40px;
}

.vector {
    width: 220px;
}

.txt-aside {
    background-color: var(--color-texto);
    padding: 15px;
    color: var(--color-fondo);
    width: 350px;
    margin: 20px auto;
    border-radius: 20px;
    font-size: 14px;
}

/* FOOTER */
.footer {
    margin-top: 40px;
    text-align: center;
    padding: 20px;
    background-color: var(--color-nav);
}

.footer p {
    font-family: 'inter';
    font-size: 20 px;
    color: var(--color-texto);
}

.btn-play {
    background-color: var(--color-verde);
    padding: 10px 25px;
    border: none;
    border-radius: 20px;
    font-weight: bold;
    font-size: 16px;
    cursor: pointer;
    color: var(--color-fondo);
    margin-bottom: 10px;
}
